In [1]:
import pymongo as pm

# Create a database using attribute style on a MongoClient instance. Declare a variable db
# and assign the new database as an attribute of the client.

client = pm.MongoClient("mongodb://127.0.0.1:27017")

db = client.Telephone_directory11

mydb = db.Tamilnadu_tele_dir13

In [2]:
# For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

details = [{'Phone_number': '+91 1234567899','Place':'Chennai','State': 'TamilNadu','Name':'Kumar'},
         {'Phone_number': '+91 1234567895','Place':'Madurai','State': 'TamilNadu','Name':'Stephen'},
         {'Phone_number': '+91 1234567850','Place':'Mumbai','State':'Maharashtra','Name':'Aditi'},
         {'Phone_number': '+91 1234567550','Place':'Bengaluru','State':'Karnataka','Name':'Bhavna'},
         {'Phone_number': '+91 1234567220','Place':'Shahdara','State':'Delhi','Name':'DarshanKumar'},
         {'Phone_number': '+91 1234567150','Place':'Hoshiarpur','State':'Punjab','Name':'BalaKumar'},
         {'Phone_number': '+91 1234567815','Place':'Alluri Sitarama Raju','State':'Andhra Pradesh','Name':'AishwaryaKumari'},
         {'Phone_number': '+91 1234567813','Place':'Bundi','State':'Rajasthan','Name':'Ashok'},
         {'Phone_number': '+91 1234567884','Place':'Hyderabad','State':'Telangana','Name':'Bimala'},
         {'Phone_number': '+91 1234567125','Place':'Khowai','State':'Tripura','Name':'Darshan'}]

In [3]:
# Insert the record into the collection

in_data = mydb.insert_many(details)
print(in_data.inserted_ids)

[ObjectId('635d943b405c7838124cfbad'), ObjectId('635d943b405c7838124cfbae'), ObjectId('635d943b405c7838124cfbaf'), ObjectId('635d943b405c7838124cfbb0'), ObjectId('635d943b405c7838124cfbb1'), ObjectId('635d943b405c7838124cfbb2'), ObjectId('635d943b405c7838124cfbb3'), ObjectId('635d943b405c7838124cfbb4'), ObjectId('635d943b405c7838124cfbb5'), ObjectId('635d943b405c7838124cfbb6')]

In [8]:
# Make a query to find records you just created.

for i in mydb.find({"Name": "BalaKumar"}):
    print(i)

and_query = mydb.find({"$and": [ {"Name": "Stephen"}]})
for i in and_query:
    print(i)

for i in mydb.find({"$or": [{"Name": "Bhavna"}]}):
    print(i)

{'_id': ObjectId('635d93750a6bbe11b4132d9a'), 'Phone_number': '+91 1234567150', 'Place': 'Hoshiarpur', 'State': 'Punjab', 'Name': 'BalaKumar'}
{'_id': ObjectId('635d943b405c7838124cfbb2'), 'Phone_number': '+91 1234567150', 'Place': 'Hoshiarpur', 'State': 'Punjab', 'Name': 'BalaKumar'}
{'_id': ObjectId('635d93750a6bbe11b4132d96'), 'Phone_number': '+91 1234567895', 'Place': 'Madurai', 'State': 'TamilNadu', 'Name': 'Stephen'}
{'_id': ObjectId('635d943b405c7838124cfbae'), 'Phone_number': '+91 1234567895', 'Place': 'Madurai', 'State': 'TamilNadu', 'Name': 'Stephen'}
{'_id': ObjectId('635d93750a6bbe11b4132d98'), 'Phone_number': '+91 1234567550', 'Place': 'Bengaluru', 'State': 'Karnataka', 'Name': 'Bhavna'}
{'_id': ObjectId('635d943b405c7838124cfbb0'), 'Phone_number': '+91 1234567550', 'Place': 'Bengaluru', 'State': 'Karnataka', 'Name': 'Bhavna'}

In [11]:
# Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

r = mydb.update_one({"Name": "AishwaryaKumari"}, {"$set": {"Name": "Bimala"}})
print(r.matched_count)
print(r.modified_count)

for i in mydb.find({"Name": "Bimala"}):
    print(i)

1
1
{'_id': ObjectId('635d93750a6bbe11b4132d9b'), 'Phone_number': '+91 1234567815', 'Place': 'Alluri Sitarama Raju', 'State': 'Andhra Pradesh', 'Name': 'Bimala'}
{'_id': ObjectId('635d93750a6bbe11b4132d9d'), 'Phone_number': '+91 1234567884', 'Place': 'Hyderabad', 'State': 'Telangana', 'Name': 'Bimala'}
{'_id': ObjectId('635d943b405c7838124cfbb3'), 'Phone_number': '+91 1234567815', 'Place': 'Alluri Sitarama Raju', 'State': 'Andhra Pradesh', 'Name': 'Bimala'}
{'_id': ObjectId('635d943b405c7838124cfbb5'), 'Phone_number': '+91 1234567884', 'Place': 'Hyderabad', 'State': 'Telangana', 'Name': 'Bimala'}

In [12]:
# successfully updated

# Delete the record, use delete_one() method. delete_one() requires a query parameter
# which specifies the document to delete.

a = mydb.delete_one({"Name": "Aditi"})
print(a.deleted_count)

1